[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
pillow = "==9.0.0"
scipy = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.10"
